div.row-Circle{
  position: absolute;
  background: white;
  display: flex;
  align-items: center;
  border-radius: 500px;
  justify-content: center;
  top: calc(50% - 3em);
  color: black;
}
@keyframes moveLeft {
  from {
    left: var(--init); 
  }
  to {
    left: var(--end); 
  }
}