div.row{
  width: 100%;
  height: 20%;
  position: relative;
  font-size: 16px;
  overflow: hidden;

}
div.row > div.row-circle{
  width: 6em;
  height: 6em;
  background-color: green;
  position: absolute;
  border-radius: 5000px;
  top: calc(50% - 3em);
  display: flex;
  align-items: center;
  justify-content: center;
}
div.timeRow{
  position: absolute;
  top: 0;
  left: calc(50%);
}

.goodTiming { 
  animation: grow 0.1s linear;
  outline: 0px solid rgb(255, 255, 255);
}
.badTiming { 
  animation: grow 0.1s linear;
  outline: 0px solid rgb(255, 0, 0);
}

@keyframes grow {
  from{
    outline-width: 2px;
    outline-offset: 1px;
  }
  to{
    outline-width: 2px;
    outline-offset: 20px;
  }
}
